@charset "UTF-8";

@media screen and (max-width:499px){
        
}

.pc {display: none;}

#wrap   {background: url(../images/bg.png);
background-size: cover; padding-top: 40px;}

header  {
    margin-bottom: 40px;
}
header h1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
header h1 img   {
    width: 100%;
}
header strong   {
    font-size: 18px;
    text-align: center;
    display: block;
    margin-top: 10px;
    color: white;
}
header em   {
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 5px;
    color: white;
    font-style: normal;
}
.btn_box    {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin: 0 35px 40px 35px;
}
.btn_box a  {
    color: white;
    font-size: 16px;
    padding: 10px 13.33vw;
    border-radius: 8px;
    text-align: center;
    width: 100px;
    flex-shrink: 0;
}
.btn_box a:nth-child(1) {background: #00BFFF;}
.btn_box a:nth-child(2) {background: #009ACE;}
.btn_box a:nth-child(3) {background: #006F94;}
.btn_box a:nth-child(4) {background: #003749;}
.btn_box a:nth-child(5) {background: #4B00C6;}


/* .btn_box a:nth-child(n+5) {width: 60%;} */



.map_box_kev    {
    padding: 0 35px;
    padding-bottom: 100px;
}
.map_box_kev h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.map_box_kev .map_kev .root_daum_roughmap .cont   * {
    color: #fff;  font-size: 15px;
}
.map_box_kev .map_kev .map img[src= '//t1.daumcdn.net/localimg/localimages/07/2018/pc/map/marker_map01.png'] {
    animation: tongtong 0.1s infinite alternate;
}
@keyframes tongtong {
    0%  {top: 0;}
    100%  {top: -20px;}
}
.map_box_km .map_km .roughmap_maker_label { animation: tongtong2 0.4s infinite alternate; animation-delay: 0.1s;}
@keyframes tongtong2 {
    0% {top: -57px;}
    100% {top: -77px;}
}

@media screen and (min-width:800px) {
    header h1 {width: 110px;height: 110px;}
    .btn_box    {flex-direction: row; flex-wrap: wrap; }
    .btn_box a  {flex-grow: 1; min-width: 100px;} 
    .pc {display: block;}
}